/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: pink;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


/* tekst */

article {
    text-align: justify;
    overflow-y: hidden;
}


.mainText {
    background-color: lightyellow;
    padding: 8px;
    padding-bottom: 4px;
    border: 2px dashed black;
    margin: 8px;
    margin-bottom: 4px;
    clear: both;
    float: left;
}

h1 {
    padding: 16px;
    border: 4px dashed black;
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    font-family: 'papyrus', fantasy;
    text-align: center;
}

.paragraphLeft {
    float: left;
    width: calc(60% - 36px);
    clear: none;
}

.paragraphRight {
    float: right;
    width: calc(40% - 36px);
    clear: none;
}


/* images */

img {
   height: 256px;
}

img.floatLeft {
    float: left;
    margin-right: 16px;
}

img.floatRight {
    float: right;
    margin-left: 16px;
}

img.overleden {
    height: 128px;
}


/* specifieke stijlen */

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.senegal {
    color: blue;
}

.sally {
    color: red;
}

.luna {
    color: plum;
}

.cziko {
    color: lightgreen;
}

.ofelia {
    color: orange;
}

.snoopy {
    color: darkcyan;
}


/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    background-color: #dddddd;
    overflow: hidden;
    border: 2px solid black;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: monospace;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




