/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: pink;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


.mainText {
    background-color: lightyellow;
    padding: 8px;
    padding-bottom: 4px;
    border: 2px dashed black;
    margin: 8px;
    margin-bottom: 4px;
}


header {
    color: skyblue;
    text-align: center;
}



/* specifieke stijlen */

img.floatLeft {
    float: left;
    margin-right: 16px;
    width: 25%;
}

img.floatRight {
    float: right;
    margin-left: 16px;
    width: 25%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




